@{
    ViewData["Title"] = "Grant Ajax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/utils/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/utils/jquery.dataTables.min.js"></script>
    <script src="~/utils/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#hrList').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [5, 25, 50, 100],
                "ajax": "/api/GrantApi",
                "columns": [
                    { "data": "userID" },
                    { "data": "userName" },
                    { "data": "userEmail" }
                ]
            });
        });
    </script>
}
<h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Grant" asp-action="Index">HR List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">HR Ajax List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Grant" asp-action="List">HR Paging List</a>
    </li>
</ul>
<p class="mb-4" style="margin-top:20px">
    
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bod text">HRList</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive table-striped">
            <table class="table table-bordered" id="hrList" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center bg-warning">
                            ID
                        </th>
                        <th class="text-center bg-warning">
                            Name
                        </th>
                        <th class="text-center bg-warning">
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">Empty</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-center bg-warning">
                            ID
                        </th>
                        <th class="text-center bg-warning">
                            Name
                        </th>
                        <th class="text-center bg-warning">
                            Email
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>